/* Basic css and highlight colors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-3c85d.highlight {
    background-color: #696969;
}

.white-1e1d7.highlight {
    background-color: #a9a9a9;
}

body {
    background-image: url("./img/woodbackground.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}